header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3.35rem;

    .header-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .header-nav {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            align-items: center;
            list-style: none;
            gap: 20px;
            font-size: 20px;

            a {
                isolation: unset;
                color: darken($foreground-color, 10%);
            }
        }

        .darkmode-toggle {
            background: none !important;
            border: none;
            font: inherit;
            cursor: pointer;
            position: sticky !important;
            padding: 0;
        }
    }

    
    @media screen and (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        
        .header-nav {
            display: flex;
            justify-content: center;
            text-align: center;
            transform: translateY(-2rem);
            
            ul {
                padding: 0;
            }
        }
    }

    @media screen and (min-width: 769px) {
        .header-logo {
            img {
                display: none;
            }
        }
    }
}