header {
    display: flex;
    justify-content: space-between;

    .header-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .header-nav {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            align-items: center;
            list-style: none;
            gap: 20px;
            font-size: 20px;
        }
    }

    
    @media screen and (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        
        .header-nav {
            display: flex;
            justify-content: center;
            text-align: center;
            transform: translateY(-2rem);
            
            ul {
                padding: 0;
            }
        }
    }

    @media screen and (min-width: 769px) {
        .header-logo {
            img {
                display: none;
            }
        }
    }
}