$primary-color: #e72929;
$secondary-color: #b92323;
$background-color: #171717;
$foreground-color: #f8f8f8;
$border-color: #333333;
$hover-color: #ff4d4d;

$base-font-size: 16px;
$heading-font-size: 2em;
$subheading-font-size: 1.5em;

$transition-speed: 0.3s;
$transition-ease: ease-in-out;
