@font-face {
    font-family: 'Moderustic';
    src: url('./assets/font/Moderustic-Regular.woff2') format('woff2'),
        url('./assets/font/Moderustic-Regular.woff') format('woff'),
        url('./assets/font/Moderustic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
